@charset "UTF-8";

/**/

@media screen and (min-width: 668px) and (max-width: 908px) {
    #login {
        width: 70vw;
        height: 50vh;
    }

    #imagem {
        float: left;

        width: 30%;
        height: 100%;
    }

    #formulario {
        float: right;

        width: 70%;
        height: 100%;
    }
}

@media screen and (min-width: 908px) {
    #login {
        width: 808px;
        height: 50vh;
    }

    #imagem {
        float: right;

        width: 50%;
        height: 100%;
    }

    #formulario {
        float: left;

        width: 50%;
        height: 100%;
    }
}