@charset "UTF-8";

* {/*Fonte geral*/
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 0px;
}

:root {
    --cor1: rgb(218, 249, 43);
}

body {
    background-color: var(--cor1);
    text-align: center;
}
header {
    /*Estilização de camadas básica*/
    background-color: rgb(0, 0, 160);
    color: white;
    border-radius: 0px 0px 24px 24px;
    text-align: center;
    box-shadow: 2px 2px 10px black;
    margin-bottom: 2px;
}
h1 {
    margin-top: -8px;
}
a {
    text-decoration: none;
}
header a {
    /*conferir se fica centralizado*/
    width: 300px;
    height: 50px;

    border: 2px solid black;
    border-radius: 24px;

    background-color: black;
    color: white;
}
header a:hover {
    border-color: white;
    background-color: white;
    color: black;
}
section {
    /*possivelmente dará erro de tamanho, corrigir dps*/
    width:  90vw;
    height: 100vh;
    position: relative;
}
.image {
    /*fixada, responsiva*/

    background-attachment: fixed;
    background-size: cover;
    text-align: left;
}
.color {
    /*orientação de leitura*/

    text-align: right;

}
.verso {
    /*limite de tamanho,translúcido, esquerda formatada*/

    font-size: 40px;
    color: black;
}
p {
    background-color: rgba(255, 255, 255, 0.7);
}
p.img {
    position: absolute;
    top: 25%;
    border-radius: 0px 20px 20px 0px;
}
p.cor{
    position: absolute;
    right: .1%;
    top: 25%;
    border-radius: 20px 0px 0px 20px;
}
#image_I {
    /*path e foco*/

    background-image: url(imgs/cadeira.jpg);
    background-position: center center;
}
#image_II {
    /*tamanho, path, fixada em local especifico, responsiva*/

    background-image: url(imgs/paisagem_morta.jpg);
    background-position: center right;
}
footer {
    background-color: black;
    color: white;
}