@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: black url(../imgs/cabana_lago_montanha.jpg) no-repeat left;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

main {
    height: 100vh;

    position: relative;
}

#telefone {
    height: 648px;
    width: 350px;

    border-radius: 24px;
    border: 3px solid white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: greenyellow url(../imgs/!\ 𝑴𝒐𝒓𝒆𝒏𝒐\ 🖤\ 🇧🇷.jpeg) no-repeat;
    background-size: contain;
}

#tela {
    position: absolute;
    left: 82.5px;
    top: 152px;

    width: 188px;
    height: 184px;

}

#redessociais img {
    height: 50px;
    width: 50px;

    margin: 10px;

    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.232);
}

#redessociais img:hover {
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 7px 7px 10px black;

    transform: translate(4px, -4px);
    transition: transform .75s, border 1.2s;
}