@charset "UTF-8";

/*estilos para telas*/

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
}

header {
    background-color: rgba(169, 169, 169, 0.5);
}

header h1 {
    text-align: center;
}

menu ul {

    background-color: gray;
    list-style-type: armenian;
}

menu li {
    background-color: rgb(50, 50, 50);
    color: aliceblue;
    padding: 10px;
    display: inline-block;
}

article {
    width: 600px;
    display: block;
    padding: 10px;
}