@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: bisque;
    margin: 0px;
}

header {
    margin: auto;
    text-align: center;
    margin-bottom: 0px;
    background-image: linear-gradient(120deg,#5B7553, #040403);
    border-radius: 0px 0px 100px 100px;
    border: 2px solid black;
    padding-bottom: 20px;
}

header > h1#cabeça{
    font-size: 1.6em;
}

nav#menu {

}

nav > span#menubox {
    padding: 5px;
    border-top: 2px solid #040403;
    border-radius: 100px;
    border-bottom: 2px solid #040403;
    background-image: linear-gradient(to right, rgb(155, 101, 0), yellow, blue, rgb(138, 9, 189));
    box-shadow: 3px 3px 5px;
}

.menu {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 10px 15px 10px 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
}

main{
    padding: 30px 0px 20px 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 2px solid black;
    border-radius: 16px 16px 0px 0px;
    text-align: center;
    background-image: linear-gradient(to left, #040403, #5B7553, #8EB897, #C3E8BD, #9DDBAD);
}

main > section#apresentação > img{
    border-radius: 20px;
}

main > section#sobre{
    text-indent: 16px;
    text-align: justify;
    margin: auto;
    padding: 5px;
    background-image: linear-gradient(to right, white, gray);
    border-radius: 16px;
    border: 2px solid black;
}
section#sobre > h2{
    font-size: 1.2em;
}
section#sobre > article#resumo{
   text-align: justify;

}
footer#pe{
    background-color: black;
    color: white;
}