@charset "UTF-8";

/*style defalt*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
  
body, html {
    background-color: lightgray;
}

header { 
    background-color: gray;
    border-radius: 0px 0px 15px 15px;
}

header h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: none;
}

menu a {
    display: block;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(68, 68, 68);
    color: white;
    border-radius: 50px;
    
}

menu a:hover {
    color: black;
    transform: translate(0px,-3px);
}

#burguer {
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: white;
    color: black;
}

main {
    width: 90vw;
    max-width: 800px;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 24px;
}

article h2 {
    display: block;
    padding-top: 20px ;
    padding-bottom: 20px;
    text-align: center;
}

article p {
    text-align: justify;
    text-indent: 20px;
}